@font-face
{
  font-family: "IBM VGA 8x16";
  src: url(/home/asset/font/WebPlus_IBM_VGA_8x16.woff) format('woff'); 
}

@font-face
{
  font-family: "AnimalCross Bold";
  src: url("/home/asset/font/FOT-RodinBokutoh Pro EB.otf") format('opentype'); 
}

@font-face
{
  font-family: "AnimalCross";
  src: url("/home/asset/font/FOT-Seurat Pro B.otf") format('opentype'); 
}

.bg {
  margin: 0px;
}

.backhills {
  position: fixed;
  bottom: 0px;
  width: calc(100vw + 1024px);
  height: 864px;
  z-index: -2;
  background-image: url('/home/asset/dlog/hills.png');
  background-size: auto 864px;
}

.backgrad {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -3;
  background-size: 100% 100%;
  background: linear-gradient(180deg, rgba(255,227,106,1) 0%, rgba(255,144,72,1) 25%, rgba(255,83,179,1) 50%, rgba(197,106,255,1) 75%, rgba(197,106,255,1) 100%);
}

.doggy {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 344px;
  height: 520px;
  z-index: -1;
  background-image: url('/home/asset/dlog/blogdog.png');
  background-size: 344px 520px;
}

.dlogheader {
  width: 50vw;
  max-width: 50vw;
  margin-left: 25vw;
  margin-right: 25vw;
  padding: 14px;
  background: #f97361;
  color: #af384c;
  border-color: #af384c;
  border-style: solid;
  border-width: 6px 6px 18px 6px;
  border-radius: 14px;
  text-align: center;
  font-family: "AnimalCross";
  font-size: 20px;
}

.dlogheader > h1 {
  font-family: "AnimalCross Bold";
  font-size: 40px;
  margin: 0px;
}

.dlogheader > h2 {
  font-family: "AnimalCross Bold";
  font-size: 56px;
  margin: 0px;
}

.dlogentry {
  width: 50vw;
  max-width: 50vw;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 20px;
  padding: 6px 20px;
  background: #ed67ef;
  color: #8d2dad;
  border-color: #8d2dad;
  border-style: solid;
  border-width: 6px 6px 18px 6px;
  border-radius: 14px;
  text-align: center;
}

.dlogentry > h2 {
  font-family: "AnimalCross Bold";
  font-size: 28px;
  margin: 0px;
  text-align: left;
  display: flex;
  align-items: center;
}

.dlogentry > h2::after {
  content: '';
  flex: auto;
  margin-left: 1rem;
  border-top: 9px solid #8d2dad;
}

.entrynum {
  
}

.entrynum::before {
  content: '#';
}

.entrynum::after {
  content: ' - '; 
}

.dlogentry > h1 {
  font-family: "AnimalCross";
  font-size: 22px;
  margin: 0px;
  text-align: left;
  min-height: 56px;
}

.dlogentry > h1 > img {
  float: right;
  margin-left: 12px;
}

.dlogentry-contents-closed {
  display: none;
}

.dlogentry-contents-closed,
.dlogentry-contents-open {
  font-family: "IBM VGA 8x16";
  font-size: 20px;
  text-align: left;
}

.dlogentry-contents-open > hr {
  color: #aa24bf;
  border-top: 4px solid #8d2dad;
}
